<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <button><a href="/">Volver</a> </button>
        <h2>Charles Babbage [Walworth (Londres, Reino Unido), 1791 – Marylebone (Londres, Reino Unido), 1871].
            Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina
            calculadora mecánica diferencial y una máquina analítica.
            Conocido por muchos como el padre de la computación digital.
            Cofundó la Analytical Society, creada para incorporar a las Matemáticas inglesas los descubrimientos
            alcanzados en el Continente europeo.</h2>
    </header>
    <img src="/img/Charles_Babbage.jpg" alt="">
    <h3>Biografía</h3>

    <p>Charles Babbage nació, según el Oxford Dictionary of National Biography, el 26 de diciembre de 1791 en Walworth,
        a las afueras de Londres. Su padre era Benjamin Babbage, banquero socio de la firma Praed's & Co. en Fleet
        Street. Y su madre Betsy Plumleigh Teape. Tuvieron cuatro hijos.

        Debido a sus continuas fiebres, Charles, a los ocho años de edad, fue enviado a Alphington, cerca de Exeter,
        donde asistió a clases en la escuela local. Poco después pasó a estudiar, por poco tiempo, en la King Edward VI
        Grammar School de Totnes (South Devon). Como su salud no mejoraba, se trasladó a la residencia familiar de Old
        Rowdens en los campos de East Teignmouth, donde recibió formación de tutores privados. Más tarde entró en la
        Holmwood Academy de Enfield (Middlesex), donde el Reverendo Stephen Freeman, enseñaba a un grupo de 30 alumnos
        el amor por las Matemáticas, apoyándose en una bien dotada biblioteca. Al abandonar la Academia, Charles Babbage
        tuvo otros dos tutores privados, Charles Simeon, que no satisfizo sus ansias de aprender, por lo que, a la edad
        de 16 o 17 años, regresó a Totnes, donde un tutor egresado de Oxford lo preparó en Humanidades Clásicas lo
        suficiente para que fuese aceptado por la Universidad de Cambridge.

        En 1810 Babbage ingresó en el Trinity College con conocimientos previos de Matemáticas, tras haber leído a
        Robert Woodhouse, Joseph-Louis Lagrange y Maria Gaetana Agnesi. El nivel de enseñanza recibido en la Universidad
        le decepcionó al descubrir que las matemáticas de Newton (que había muerto 200 años antes) seguían vigentes en
        Cambridge, sin mayor evolución, e ignorando todos los avances que se habían dado en algunas partes de Europa.

        Y dos años más tarde fue transferido a Peterhouse (Cambridge), donde se encontraba la élite de las Matemáticas,
        destacando por sus conocimientos, pero no se graduó con honores. También en 1812, con otros compañeros de la
        misma Universidad, fundó la Analytical Society con el fin de reformar las Matemáticas en el Reino Unido.

        Por su interés en lo esotérico se unió al Ghost Club para conseguir y compartir la información sobre fenómenos
        sobrenaturales y al Extractors Club, que pretendía liberar de la locura a quienes cayeran en ella.

        Fue en 1813 cuando le surgió por primera vez la idea de calcular las tablas matemáticas, eliminando errores
        debidos a la fatiga o aburrimiento que sufrían las personas encargadas de compilarlas. Tres factores parecían
        haberlo motivado: una aversión al desorden, su conocimiento de tablas logarítmicas, y los trabajos de máquinas
        calculadoras realizadas por Blaise Pascal y Gottfried Leibniz. Poco después, construyó una pequeña calculadora
        capaz de completar ciertos cálculos matemáticos hasta ocho decimales.

        En 1814 defendió una tesis que en principio fue considerada blasfema pero finalmente le sirvió para graduarse
        sin presentarse a exámenes. En ese mismo año, Charles Babbage se casó con Georgiana Whitmore en la St. Michael's
        Church en el pueblo al que se mudó de pequeño, Teignmouth. El matrimonio Babbage se fue a vivir a Marylebone en
        Londres, donde tuvieron ocho hijos, de los cuales sólo cuatro llegaron a la edad adulta. Georgiana falleció en
        1827.

        En 1815 Babbage enseñó Astronomía en la Royal Institution y al año siguiente fue elegido fellow de la Royal
        Society. Presentó su candidatura a una plaza de profesor en el Haileybury College, que no consiguió. Un año más
        tarde ingresó en la Royal Society of London for Improving Natural Knowledge, donde pudo relacionarse con grandes
        científicos y pensadores de la época. También en 1816, Babbage, Herschel y Peacock publicaron una traducción del
        francés de las ponencias de Sylvestre Lacroix, que eran consideradas como el libro de texto más moderno sobre el
        cálculo.

        En 1819 visitó en París la Société d'Arcueil, círculo de científicos franceses que se reunían los domingos en el
        domicilio de Laplace o en el de Berthollet. En ese año Babbage solicitó una plaza en la Universidad de
        Edimburgo, que tampoco le fue adjudicada.

        En 1820 Babbage jugó un papel fundamental en la fundación de la Sociedad Astronómica de Londres, que cambiaría
        más tarde su nombre por la Royal Astronomical Society. Su finalidad consistía en reducir los cálculos
        astronómicos llevándolo a un modelo normalizado que permitiese su difusión. A Babbage y Herschel les fue
        encomendada la revisión de una parte de las tablas astronómica existentes y descubrieron discrepancias. Babbage
        se percató de que muchos cálculos se hacían repitiendo operaciones una y otra vez y muchas veces esos cálculos
        contenían un margen de error, el error humano, de modo que pensó en una máquina que pudiese calcular esas
        operaciones de manera automática, una calculadora mecánica. En 1821 publicó su libro 'Máquina de diferencias'
        explicando su proyecto.

        En 1822, en una carta dirigida a Sir Humphry Davy en la aplicación de maquinaria al cálculo e impresión de
        tablas matemáticas, discutió los principios de una máquina calculadora. Al año siguiente el gobierno comenzó a
        ayudarle financieramente a la construcción de una máquina con capacidad hasta 20 decimales. En sus planes estaba
        incluir el control secuencial, la derivación y el ciclo, marcando la transición de la aritmética mecanizada a la
        computación. Para fabricar el primer modelo necesitaba dinero, 1,500 libras esterlinas, que le fue proporcionado
        por el gobierno, comprometiéndose a entregar la máquina en dos años. Sin embargo, la construcción avanzaba muy
        lentamente y, al cumplirse el plazo en 1827, la máquina aún no estaba terminada y Babbage sufrió una fuerte
        crisis nerviosa cuando se le acusó de haber dispuesto de los fondos del gobierno para su propio beneficio. A
        pesar de eso, se le adelantó más dinero y prosiguió con su trabajo hasta 1834, cuando el principal de sus
        mecánicos renunció y el invento quedó sin terminar, quedando en el olvido hasta 1937.

        En 1824 Charles Babbage ganó la Medalla de Oro por su invento de una máquina de cálculo de tablas matemáticas y
        astronómicas.

        En 1825, se interesó en la Electrodinámica de las rotaciones de François Arago, un fenómeno magnético de
        interacción entre una aguja imantada y un disco metálico en movimiento.

        A la muerte de su padre en 1827, Babbage heredó una extensa finca que hoy valdría unos 10.000.000.-€. Inició un
        largo viaje por el Continente, visitó al Gran Duque de Toscana, Leopoldo II. Estando en Roma al año siguiente
        recibió la noticia de que por fin había sido nombrado Profesor Lucasiano en la Universidad de Cambridge.

        En 1828 publicó sus tablas de logaritmos, que comprenden del 1 al 108.000.

        En 1832 la Academia de Artes y Ciencias de los Estados Unidos le nombró Miembro Honorario Extranjero.

        A partir de 1834 se dedicó a la realización de sucesivos diseños para lograr una Máquina Analítica, precursora
        de los ordenadores actuales. Contemplaba ejecutar cualquier operación matemática partiendo de unas instrucciones
        en tarjetas perforadas similares a las que utilizaba en su telar Joseph Marie Jacquard para realizar diseños en
        el tejido. La Máquina Analítica tenía un procesador aritmético, una unidad de control que determinaba qué tarea
        debía ser realizada, un mecanismo de salida y una memoria donde los números podían ser almacenados hasta ser
        procesados. Se considera que la Máquina Analítica de Babbage fue la primera computadora de la historia. Un
        diseño inicial plenamente funcional fue terminado en 1835. Sin embargo, debido a problemas similares a los de la
        Máquina Diferencial, la Máquina Analítica nunca fue terminada por Babbage.

        Esta primera calculadora estaba formada por unos 25.000 componentes, pesaba en torno a los 13.600 kg y medía 2'4
        metros de alto e iba a operar con 21 cifras decimales.

        En 1833 Babbage se encontró con Lady Ada Lovelace, hija de Lord Byron, cuando ella tenía 17 años, y le mostró la
        pequeña parte de su Máquina.

        Hasta 1842, Babbage recibió fondos del gobierno que al final le retiraron y la Máquina Analítica tampoco llegó a
        completarse. Ada Lovelace promovió activamente la Máquina Analítica, y escribió varios programas para ella. Esas
        instrucciones hacen de Ada Lovelace la primera programadora de computadoras de la historia.

        Babbage participó en el establecimiento del sistema postal moderno británico y compiló las primeras tablas
        actuariales fiables. Inventó también un modelo de velocímetro y el oftalmoscopio.

        Interesado también por la vida política y social, formó una campaña contra los músicos callejeros de Londres
        porque le molestaban en su trabajo.

        Fue miembro y recibió distinciones de los siguientes organismos: Royal Society, Academia de Ciencias de Baviera,
        Academia de Ciencias de Hungría, Royal Society of Edinburgh, Royal Astronomical Society, y Royal Statistical
        Society.

        También publicó numerosas obras, entre otras: "On the economy of machinery and manufactures" (1835) y
        "Reflections on the decline of science in England".

        En 1991 el Museo de Ciencia de Londres puso en funcionamiento con éxito la "Máquina Diferencial N.º 2", con
        capacidad hasta 31 dígitos, basándose en el diseño de Babbage. Y en 2002 se completó el diseño original con la
        incorporación de la impresora que Babbage había concebido para esta máquina.

        Charles Babbage falleció, debido a problemas renales, el 18 de octubre de 1871, a los 79 años, en su residencia
        de Marylebone (Londres, Reino Unido). Sus restos reposan en el cementerio de Kensal Green en la capital inglesa.

        Parte de su cerebro se encuentra conservado en formol y expuesto en The Royal College of Surgeons of England.
    </p>
    <div class="imagen">
        <img src="/img/descarga.jpg" alt="">
    </div>
</body>

</html>