<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <button><a href="/">Volver</a></button>
    <img height="300" width="300" src="/img/joanc2-768x857.jpg" alt="">
    <p>El 10 de febrero de 1883 nació en Howard County, estado de Maryland (EE. UU.), Edith Clarke, la que sería una pionera en el campo de la electricidad.

    Gracias a unas propiedades que heredó, consiguió entrar en el Vasaar College, en Poughkeepsie, Nueva York, estudiando aquí matemáticas y astronomía. Obtuvo la graduación en el año 1908 y llegó a ser un Phi Beta Kappa. La Phi Beta Kappa es una sociedad honorífica fundada en 1776 para estudiantes universitarios con aptitudes académicas sobresalientes. El nombre proviene de las iniciales griegas que forman el lema de la asociación: philosophia biou kubernetes (la filosofía como motor de vida).
    
    Una vez licenciada dedicó sus primeros años a la enseñanza.
    
    Su primer trabajo en la industria tecnológica fue en la American Telephone and Telegraph (ATT) en el año 1911. En esta compañía, bajo la dirección de George A. Campbell, investigó sobre las líneas de transmisión y los circuitos eléctricos.
    
    La pasión por su trabajo y la preparación adquirida en las soluciones de problemas de líneas de transmisión, le permitieron ingresar en el Instituto Tecnológico de Massachussets (MIT) en 1918. Aquí estudió Ingeniería Eléctrica, obteniendo la Maestría en 1919 y siendo la primera mujer en recibir ese grado en el MIT.
    
    De 1920 a 1921 Edith Clarke trabajó para la General Electric (GE) en Schenectady, dirigiendo a un grupo de mujeres que calculaban los esfuerzos mecánicos de los rotores de turbinas. Es de mencionar que aún con sus aptitudes y conocimientos, no tenía ni el salario ni la consideración de un Ingeniero de la GE de entonces.
    
    Fue en 1921 cuando presentó y obtuvo una patente de un calculador gráfico para usarlo en la solución de los problemas de líneas de transmisión, y fue el tema sobre su primera ponencia técnica en la revista GE Review en 1923.
    
    Este mismo año aceptó enseñar en un colegio para mujeres en Turquía donde fundó el Women’s College de Constantinopla, regresando al año siguiente y consiguiendo un puesto como Ingeniero en el Central Station Engineering Department, también de GE.
    
    Edith Clarke fue la primera mujer en presentar una ponencia en el American Institute of Electronic Engineers (AIEE), que en 1963 daría lugar a IEEE, y publicada en 1926 en los Transactions de dicha organización.</p>

    <p>En 1931 presentó la aplicación del método de componentes simétricos en la solución de problemas que venía desarrollando desde 1928. En este trabajo expuso el uso del método para la solución del circuito cuando existen varios fallos simultáneos, demostrando que se podía utilizar un analizador de redes del tipo electromecánico en la solución.

        En 1941, junto a Selden B. Crary, compañero de trabajo, presentó una ponencia sobre la estabilidad de los sistemas eléctricos en la reunión del AIEE en Filadelfia, EE.UU., recibiendo un premio al ser la mejor presentación del año.
        
        En 1943 publicó el libro Circuit Analysis of AC Power Systems basado en sus notas para las conferencias impartidas a los ingenieros de la GE, con la intención de que pudiera servir de texto en las escuelas y como libro de consulta. Posteriormente en 1950, publicó un segundo tomo del libro.
        
        En 1948 fue la primera mujer en ser nominada Fellow en el AIEE.</p>

        <img src="/img/joanc3.jpg" alt="">
        
        <p>Edith Clarke dejó de trabajar para la GE en 1945, y en 1947 aceptó una Cátedra en la Universidad de Texas en donde comenzó a enseñar Ingeniería hasta su jubilación definitiva en 1956.
        
        En una entrevista que le hizo un diario tejano, comentó sobre las futuras perspectivas de la mujer en la ingeniería: “No hay demanda de ingenieros mujeres… pero siempre habrá demanda para cualquier persona que pueda hacer bien su trabajo”.
        
        James E. Brittain en su artículo From Computor to Electrical Engineer-the Remarkable Career of Edith Clarke, resume el papel de esta mujer, pionera en el campo de la electricidad, en que desarrolló y difundió métodos matemáticos que simplificaron y redujeron el tiempo empleado en la solución de problemas en el diseño de sistemas eléctricos, y demostró que en un campo de investigación, tradicionalmente dominado por hombres, las mujeres podían realizar los mismos trabajos con iguales resultados, si se les daba la misma oportunidad.
        
        Murió en 1959.</p>

        <img src="/img/joanclarke.jpg" alt="">
</body>
</html>