<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Biografia de Hopper</title>
</head>

<body>
    <h1>Grace Murray Hopper</h1>
    <img src="/img/grace-hopper.jpg" alt="">
    <p> Matemática e informática (1906 New York, 1992 Arlington, Virginia, EEUU)
        Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de
        enero de 1992. Grace Hopper fue un distinguido oficial de la marina estadounidense y una destacada científica
        computacional. Hopper fue uno de los programadores del primer gran ordenador, el Mark I. Su trabajo dió lugar al
        primer lenguaje compilador para ordenadores. También trabajó en el desarrolo del COBOL, uno de los primeros
        lenguajes de programación.

        Acuñó el término "bug" (chinche, bicho) para referirse a un error de programación, cuando descubrió una pequeña
        mariposa dentro de los circuitos que hacía cometer errores de ejecución. En 1973, aunque en la reserva, fue la
        primera mujer en llegar a capitán de navío de la marina estadounidense.

        Aunque ya estaba retirada, fue llamada de nuevo al servicio activo de la marina en 1967. En 1983, fue nombrada
        Rear Admiral, y cuando de nuevo se retiró en agosto de 1986, era el oficial más viejo en activo de EEUU. Después
        de su retiro trabajó como consejero de la Digital Equipment Corporation hasta su muerte.

        En 1969, recibió la distinción de Man of the Year de la Data Processing Management Association. Después de 40
        años de trabajo pionero con ordenadores, Hopper decía que su mayor contribución había sido entrenar a muchos
        jóvenes.

        Grace Brewster Murray se graduó en la universidad de Vassar, con un B.A. en matemáticas en 1928 y trabajó bajo
        la dirección del algebrista Oystein Ore en Yale para su M.A., en 1930, y su Ph.D. (tesis doctoral) en 1934.

        Se casó en 1930, con Vincent Foster Hopper, un educador, y comenzó a trabajar enseñando matemáticas en Vassar en
        1931. Consiguió el nombramiento de profesor asociado en 1941 cuando ganó una beca para estudiar en el New York
        University's Courant Institute for Mathematics.

        Hopper procedía de una familia con tradición militar, así renunció a su puesto en la universidad de Vassar para
        entrar en la Navy WAVES (Women Accepted for Voluntary Emergency Service) en diciembre de 1943. Fue nombrada
        teniente en julio de 1944 y destinada al Bureau of Ordenance Computation Project de la Harvard University, fue
        la tercera persona en unirse al equipo de investigación del profesor y teniente de la reserva naval Howard H.
        Aiken. El primer trabajo con la Mark I (ordenador electromecánico) fue calcular los coeficientes del desarrolo
        en serie del arco coseno.

        Hopper pronto aprendió a programar esa máquina, escribiendo un manual de 500 páginas en el cual estableció los
        principios fundamentales de la programación de ordenadores. Al final de la segunda guerra mundial, en 1945,
        Hopper estaba trabajando en la Mark II. Sin hijos, se divorció ese año. Aunque siguió utilizando el apellido de
        casada. Poco después fue nombrada investigador de la universidad de Harvard, y en 1949 entró en el equipo de la
        recién creada Eckert-Mauchly Corporation.

        A partir de entonces, siempre tuvo dos trabajos simultáneos. Permaneció asociada con la Eckert-Mauchly y sus
        sucesoras (Remington-Rand, Sperry-Rand, and Univac) hasta su retiro oficial en 1971. Simultaneó su trabajo entre
        la institución militar, la industria privada, negocios privados y trabajo académico. En diciembre de 1983, fue
        nombrada commodore en una ceremonia en la Casa Blanca. Dos años más tarde fue nombrada almirante de la marina.

        Fue uno de los primeros ingenieros de software y, realmente, uno de los más ha influido en el desarrolo del
        mundo de la computación. Quizás su contribución más conocida sea la invención del compilador, un programa
        intermedio que traduce instrucciones del lenguaje natural (inglés) al lenguaje interno (instrucciones de código
        máquina).

        Según dijo, lo diseñó porque era perezosa y pretendía con eso que el programador volviera a ser matemático. Su
        trabajo implicó e impulsó un enorme desarrollo: subrutinas, formulas de traducción, direcciones relativas,
        cargador de enlaces, optimización de código, e incluso manipulación simbólica del tipo que actualmente hacen
        Mathematica o Maple.

        Al final de su vida estaba orgullosa del servicio prestado a su país. Por ello, fue enterrada con honores en el
        cementerio nacional militar de Arlington el 7 de enero de 1992.</p>
    <img src="/img/hopper.jpg" alt="">
</body>

</html>