<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Heroes</title>
</head>

<body>
    <h2>HEROES DE LA PROGRAMACIÓN</h2>
        <div class="cajas">
            <button class="boton"><a href="http://localhost:3000/babbege">Babbeage</button>
            <button class="boton"><a href="http://localhost:3000/berners-lee">Berners-Lee</a></button>
            <button class="boton"><a href="http://localhost:3000/clarke">Clarke</a></button>
            <button class="boton"><a href="http://localhost:3000/hamilton">Hamilton</a></button>
            <button class="boton"><a href="http://localhost:3000/hopper">Hopper</a></button>
            <button class="boton"><a href="http://localhost:3000/lovelace">Lovelace</a></button>
            <button class="boton"><a href="http://localhost:3000/turing">Turing</a></button>
        </div>
    
</body>
</html>