<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Biografia de Lovelace</title>
</head>

<body>
    <header>
        <h1>Cómo se convirtió Ada Lovelace en la primera programadora de la historia</h1>

        <p>Hace 213 años, el 10 de diciembre de 1815, nacía Ada Lovelace, considerada la primera mujer programadora de
            la historia por su aporte a la máquina analítica, ideada por Charles Babbage.

            Lovelace escribió el primer algoritmo pensado para la máquina que el matemático diseñó pero que no llegó a
            construir. Babbage concibió una máquina de naturaleza mecánica, de unos 10 metros de ancho y 30 de largo,
            que sería potenciada por un motor a vapor.

            La máquina tenía previsto tener una unidad para leer tarjetas perforadas que ya se utilizaban en aquella
            época. Habría tres tipos de tarjetas con diferentes funciones, entre ellas para almacenar datos y realizar
            operaciones aritméticas.</p>
    </header>
    <main>
    <img src="/img/retrato-de-ada-lovelace.jpg" alt="">
        <p>El lenguaje de programación sería similar al ensamblador (assembly language), utilizado en la computación
            moderna para ejecutar instrucciones básicas en circuitos integrados.

            La máquina estaba pensada para guardar en su memoria 1.000 números de hasta 50 dígitos cada uno. Una idea
            revolucionaria para ese entonces. Cuando Lovelace se enteró de este proyecto se contactó con Babbage para
            proponerle colaborar con él.

            En 1841, le escribió una carta donde acordó traducir un artículo en italiano escrito por Luigi Menabrea
            sobre esta iniciativa. La idea era ayudar a difundir este invento de Babbage, con quien lo unía una gran
            amistad. Pero ella no se limitó solo a traducir, sino que además, escribió su propio análisis sobre la
            máquina analítica.</p>

        <p>En ese trabajo, al que llamó Notas, Lovelace describió técnicamente la máquina y evaluó las aplicaciones
            prácticas que podría tener, entre ellas la posibilidad de digitalizar las composiciones musicales.

            En sus notas, describe en detalle la forma en las cuales las tarjetas perforadas podrían construir una
            secuencia numérica en la máquina. Ese código es considerado el primer algoritmo pensado para ser ejecutado
            por una máquina. Y así fue que Ada Lovelace se convirtió en la primera mujer programadora de la historia.

            Su texto se publicó en, septiembre de 1843, en la revista Scientific Memoirs, y ella firmó solo con sus
            iniciales para que no trascendiera su verdadera identidad. Pero al poco tiempo se supo que ella era la
            autora y la comunidad científica decidió hacer caso omiso a su aporte. Es que en aquel entonces, la ciencia
            era solo "cosa de hombres".

            Durante años su aporte quedó en el olvido y su legado fue recuperado unos cuantos años después. De hecho el
            lenguaje de programación Ada desarrollado por el Departamento de Defensa de los Estados Unidos y aprobado en
            1980 lleva ese nombre en honor a Lovelace.

            Ada Lovelace nació en Londres y era hija del famoso poeta Lord Byron y de Anne Isabella Noel, activista
            política y matemática. Fue ella quien inculcó el amor por esta disciplina en su hija. Durante su infancia se
            pasó rodeada de tutores que la ayudaron a nutrir su intelecto.

            Ya adulta, siguió abocada a las matemáticas y las ciencias: soñaba con dedicar su vida al saber.

            En 1835 se casó con el aristócrata William Lord King, con quien tuvo tres hijos: Byron, Anne Isabella y
            Ralph Gordon. Lovelace falleció en Londres, a los 36 años de edad, el 27 de noviembre de 1852.</p>
    <img src="/img/ada.jpeg" alt="">
        </main>

</body>

</html>