<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<button><a href="/">Volver</a></button>
    <h1>Alan Turing, padre de la informática moderna y paria social</h1>
    <img src="/img/turing.jpg" alt="">

Alan Turing fue un brillante matemático, criptoanalista e informático teórico nacido el veintitrés de Junio de 1912 en Maida Vale un distrito residencial al oeste de Londres. Turing, ademas de ser un brillante científico era homosexual, lo cual le costó la vida el siete de junio de 1954.

Turing es mundialmente conocido por cuatro hechos:

Formalizó los conceptos de algoritmo y computación con su máquina de Turing
Es considerado el padre de la inteligencia artificial
Su participación en el equipo de criptoanálisis de la máquina de criptografía alemana Enigma fue clave
Fue una víctima más de la mentalidad reaccionaria puritana del mundo anglosajon
El Gobierno Británico hizo una disculpa pública a título póstumo a través de Gordon Brown el diez de Septiembre del 2009 por haber procesado y perseguido a Alan Turing por ser homosexual. Es cuanto menos paradójico que Turing fuera procesado y perseguido a causa de su homosexualidad por un Gobierno que calificaba de monstruosos los actos del nazismo por procesar y perseguir a individuos por su credo religioso.

La Máquina de Turing
Una máquina de Turing, es un dispositivo teórico que manipula símbolos sobre una cinta de acuerdo con una tabla de reglas definida. Este modelo computacional puede ser adaptado para simular la lógica de cualquier algoritmo y es particularmente útil en la labor de explicar el funcionamiento de una CPU.

La máquina de Turing fue descrita por Alan Turing en 1936 como respuesta al ensayo del matemático alemán David Hilbert “On Computable Numbers, with an Application to the Entscheidungsproblem“ donde demostró que algunas de estas máquinas de Turing serían capaces de realizar cualquier cálculo matemático concebible si fuera representable con un algoritmo. También probó que no existe solución al Entscheidungsproblem (problema de decisión) ya que demuestra que no es posible decidir, en general, algorítmicamente si una máquina de Turing se encuentra en parada.

Descripción
La máquina de Turing, modela de forma matemática una máquina que opera sobre una cinta. En esta cinta hay símbolos que la máquina puede escribir o leer, uno a la vez. Las operaciones que la máquina puede realizar están determinadas por un conjunto finito de instrucciones elementales como “si el estado es 6 y el valor es 0 escribe 1 y pasa al estado 27”.

Una máquina de Turing consta de las siguientes partes:

Una cinta que está dividida en celdas una al lado de la otra. Cada celda contiene un símbolo en algún alfabeto finito. Dicho alfabeto contiene un símbolo especial en blanco (blank symbol escrito como ‘B’) y uno o más símbolos adicionales. La cinta se supone infinita.
Una cabeza que puede leer y escribir símbolos en la cinta y mover la cinta a la izquierda o a la derecha una posición.
Una tabla de reglas finita de instrucciones, usualmente tuplas de cinco elementos que dado el estado (qi) en el que se encuentra actualmente la máquina y el símbolo (aj) que está siendo leído desde la cinta, indica a la máquina que realice la siguiente secuencia de acciones:
Escribe o borra un símbolo
Mueve la cabeza (a la izquierda o la derecha)
Asume el mismo o un nuevo estado según lo prescrito
Un registro de estados donde se guarda el estado de la máquina de Turing.
Máquina de Turing Universal
Turing definió que es posible desarrollar una única máquina que pueda ser usada para computar cualquier secuencia computable. Si esta máquina U es suministrada con una cinta que en su comienzo esté escrita con tuplas quíntuples separadas por punto y coma provenientes de una máquina M, entonces U computará las mismas secuencias que M.

Este modelo de computación supone el avance teórico fundamental que condujo a la noción de programa de computadora almacenado.

<img src="/img/Alan_Turing_Aged_16.jpg" alt="">

<h2>Participación en la lucha contra Enigma</h2>
La Enigma fue una máquina electro mecánica con rotor usada para enviar mensajes cifrados por la Alemania nazi durante la Segunda Guerra Mundial. Alan Turing participó activamente en el desarrollo de dispositivos de análisis criptográfico así como aportando muchas de las ideas que llevaron al posterior éxito en la ruptura del algoritmo de cifrado que utilizaba la máquina y que supuso un gran avance en la victoria de los aliados en la contienda.

Turing especificó un mecanismo electro mecánico que ayudaba en la misión de romper el algoritmo de la máquina Enigma más rápido que bomba que era el dispositivo de facturación polaca que se estaba usando hasta la fecha. Al nuevo dispositivo se le llamó bombe al ser construida sobre el diseño original polaco.

Bombe mejorado con sugerencias realizadas por el matemático Gordon Welchman, se convirtió en una de las principales herramientas automatizadas en la lucha contra el tráfico de mensajes protegidos con Enigma por la Alemania nazi.

Turing decidió tomar parte en resolver el problema con la Enigma naval Alemana porque y según sus palabras “porque nadie más está haciendo nada al respecto así que tendré que hacerlo yo mismo“. En diciembre de 1939, Turing ya había resuelto la parte esencial del sistema de indicadores que era más complejo que el utilizado por otros servicios de la Alemania nazi.

El Test de Turing
En 1950, Turing abordó el problema de la inteligencia artificial y propuso el experimento que hoy se conoce como el test de Turing cuya intención era intentar definir un estándar por el cual se pudiera conocer si una máquina podía ser llamada “inteligente“.

La idea consistía en que se puede llegar a decir que una computadora “piensa“ si un interrogador humano no pudiera distinguir a través de una conversación, si estuviera conversando con un ser humano o con una máquina. Turing propuso que en lugar de simular una mente artificial adulta, era mejor simular una mente infantil para someterla más tarde a un proceso de aprendizaje.

Procesamiento por indecencia (homosexualidad)
En enero de 1952, Turing conoció a Arnold Murray a la salida de una sala de cine. Después de una cita para comer, Turing invitó a Murray a pasar un fin de semana en su casa, invitación que Murray aceptó a pesar de que no se presentó. Se reunieron nuevamente en Manchester el lunes siguiente, en esa ocasión, Murray aceptó acompañar a Turing a su casa.

Unas semanas más tarde, Murray visitó la casa de Turing de nuevo, y parece ser que pasaron la noche juntos. Más tarde, Murray ayudado por un cómplice entraron en casa de Turing, el cual denunció el hecho a las autoridades. Durante la investigación, Turing reconoció haber mantenido una relación sexual con Murray. Los actos homosexuales eran ilegales en Reino Unido en 1952 y por tanto fue acusado de indecencia grave en virtud del artículo 11 del Código Penal que fue el mismo delito por el que fue condenado Oscar Wilde cincuenta años atrás.

Se le dio la opción de entrar en prisión o la libertad condicional bajo acuerdo de someterse a un tratamiento hormonal de castración química a base de estrógenos. El la aceptó, el tratamiento le produjo desastrosos efectos secundarios como aparición de pechos y obesidad. Se le retiró su permiso de seguridad y se le prohibió seguir con sus labores de consultoría de cifrado. No se le revocó el pasaporte británico pero Estados Unidos le negó la entrada en su territorio.

Muerte
El 8 de junio de 1954, Turing fue encontrado muerto por su personal de limpieza. Un examen post-morten estableció que la causa de la muerte fue envenenamiento por cianuro ingerida al parecer al comer parte de una manzana bañada en esa sustancia que además se encontraba en la mesita al lado de su cama.

Conclusión
Desde 1966 se viene entregando de forma anual el premio Alan Turing por la Association for Computing Machinery a una persona en reconocimiento a su contribución técnica a la ciencia de la computación y a la Comunidad. Este premio está considerado como el mayor honor en el mundo de la computación, comparable al premio Nobel.

Alan Turing fue otro genio víctima de la irracionalidad y la moralina caduca. Murió a la edad de 41 años, a pocos días de cumplir 42, si la vida de Turing no hubiese terminado de forma abrupta y violenta, seguramente otros muchos avances hubieran llegado de su mano, avances que nunca sabremos si han sido conseguidos o no.
</body>
</html>